::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #767676b5;
}

.auth-container{
    padding: 20px;
    background-size: 219px;
    background-repeat: no-repeat;
    background-position: top right;
}

.auth-logo{
    width: 120px;
    margin: 100px 0px 10px 0px;
    position: relative;
    display: block;
}

.auth-solgan{
    font-family: 'Heebo', sans-serif;
    margin-top: 0px;
    font-size: 12px;
}

.auth-title{
    color: #1a1a1a;
    font-weight: 300;
    font-family: 'Heebo', sans-serif;
    margin-top: 60px;
}

.auth-terms{
    font-family: 'Heebo', sans-serif;
    color: #949494 !important;
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 17px;
}

.auth-forgot-link{
    font-family: 'Heebo', sans-serif;
    color: #767676;
    text-align: right;
    display: block;
    font-weight: 500;
    font-size: 14px;
    transition-duration: 0.3s;
}

.auth-forgot-link:hover{
    color: #de2c2c;
    text-decoration: none;
}