.find-donar-checkbox{
    overflow: hidden;
    border-radius: 3px;
}

.find-donar-checkbox input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.find-donar-checkbox label {
    display: block;
    background-color: #ffffff;
    padding: 10px 20px;
    font-family: 'Heebo', sans-serif;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #767676;
    text-align: center;
    transition-duration: 0.3s;
}

.find-donar-checkbox input[type="checkbox"]:checked + label {
    background-color: #de2c2c;
    color: #ffffff;
}