.home-container{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 434px;
    animation-name: home-wave-animation;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes home-wave-animation {
    from {background-size: 434px;}
    to {background-size: 400px;}
}

.home-toggle-btn{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 1000px;
    font-size: 45px;
    line-height: 0px;
    color: #767676;
    background: #ffffff;
    margin: 0px auto;
    box-shadow: 0 14px 25px rgba(0,0,0,0.16);
    z-index: 50;
    position: relative;
}

.home-toggle-btn.active{
    color: #fff;
    background: #de2c2c;
}

.home-toggle-text-container{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.home-toggle-label{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    text-align: center;
    color: #767676;
    font-weight: 500;
    letter-spacing: 0.047em;
    font-size: 12px;
    text-transform: uppercase;
}

.home-toggle-status{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    text-align: center;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 600;
}

.home-toggle-desc{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    text-align: center;
    color: #767676;
    font-size: 11px;
}

.home-toggle-text-container div{
    position: relative;
    top: 130px;
}