body{
    font-family: 'Heebo', sans-serif;
}

*{
    -webkit-tap-highlight-color: transparent;
}

button,h1,h2,h3,h4,h5,h6,p,a,i,b,img,label,legend{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;                     
}

:focus {
    outline-width: 0px;
}

input:active, input:focus{
    outline: none;
}

.icon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.hide{
    display: none;
}

/*---Nav Bar---*/
.nav-bar{
    padding: 10px 10px 10px 5px;
    background: #ffffff;
    z-index: 100;
}

.nav-bar-fixed{
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
}

.nav-bar-padding-top{
    padding-top: 48px;
}

.nav-bar-back-btn{
    color: #212121;
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 25px;
    padding: 0;
    background: transparent;
    border: none;
    opacity: 0.7;
    border-radius: 100%;
    position: relative;
    top: 2px;
}

.nav-bar-back-btn i{
    line-height: 25px;
}

.nav-bar-back-title{
    color: #212121;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    margin-left: -7px;
}

.nav-bar-back-sub-title{
    color: #1A1A1A;
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    opacity: 0.4;
    margin: 0;
    margin-top: 7px;
    margin-left: -7px;
}

.nav-bar-logo{
    height: 15px;
    position: relative;
    top: 6px;
    left: 12px;
}

.nav-bar-user-icon{
    width: 32px;
    border-radius: 1000px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

/*---City Picker---*/
.city-picker-container{
    padding: 0px;
}

.city-picker-container .uk-modal-body{
    padding: 0px;
    min-height: 100%;
}

/*---Modal---*/
.confirmation-modal{
    padding: 0px;
}

.confirmation-modal .uk-modal-body{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.confirmation-modal-padding{
    padding: 20px 20px !important;
}

.confirmation-modal h3{
    color: #212121;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

/*---List---*/
.list{
    padding: 0px;
}

.list li{
    list-style-type: none;
    color: #767676;
    font-family: 'Heebo', sans-serif;
    padding: 13px 0px;
}

.list-padding{
    padding-left: 25px !important;
    padding-right: 25px !important;
}

/*---Form---*/
.input-container label{
    color: #767676;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: block;
}

.input-container input, .input-container select{
    height: 38px;
    border: none;
    font-family: 'Heebo', sans-serif;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 500;
    transition-duration: 0.3s;
    border-bottom: 2px solid #e7e7e7;
    background: transparent;
}

.input-container input:focus, .input-container select:focus{
    border-bottom: 3px solid #de2c2c;
}

.input-container select{
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.input-error{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: #de2c2c !important;
    margin-top: 2px;
}

/*---App Container---*/
.app-container{
    padding: 0px 18px;
    margin-top: 8px;
    padding-bottom: 100px;
}

/*---Button---*/
.btn{
    font-family: 'Heebo', sans-serif;
    height: 46px;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.btn span{
    color: #1a1a1a;
}

.btn-primary{
    color: #ffffff;
    background-color: #de2c2c;
}

.btn-text{
    color: #de2c2c;
}

.btn-accent{
    color: #de2c2c;
    background-color: #FCE9E9;
}

.btn-small{
    height: 38px;
    padding: 0px 22px;
}

/*---Bottom Bar---*/
.bottom-bar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    background: #ffffff;
}

.bottom-bar-cell{
    padding: 8px 0px;
}

.bottom-bar-icon{
    background: transparent;
    border: none;
    font-size: 25px;
    color: #767676;
}

.bottom-bar-icon.active{
    color: #de2c2c;
}

.bottom-bar-title{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    text-align: center;
    color: #767676;
    font-size: 11px;
    margin-top: -6px;
    padding: 0px;
}

.bottom-bar-title.active{
    color: #1a1a1a;
}

.bottom-bar-search-btn{
    width: 40px;
    height: 40px;
    background: #de2c2c;
    border: none;
    border-radius: 10000px;
    color: #ffffff;
    font-size: 23px;
    line-height: 0px;
}

/*---Notification---*/
.uk-notification {
    z-index: 90;
}

.uk-notification-message {
    position: relative;
    padding: 13px 15px;
    background: #de2c2c;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    font-weight: 500;
    bottom: 56px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border-radius: 6px;
}

.uk-notification-close {
    display: block;
    color: #fff;
    top: 15px;
}