.profile-pic-container{
    width: 85px;
    height: 85px;
    border-radius: 1000px;
    margin: 0px auto;
    margin-bottom: 25px;
    border: 5px solid #d6d6d64a;
    position: relative;
}

.profile-pic-container img{
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 1000px;
}

.profile-pic-container button{
    position: absolute;
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    border: none;
    background: #fff;
    color: #767676;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
    font-size: 16px;
    line-height: 0;
    bottom: -4px;
    right: -4px;
    padding: 0px;
}

input[type=file]{
    position: absolute;
    top: 0px;
    left: 0px;
}

#profile-pic-modal li{
    padding-left: 20px;
    font-weight: 500;
    color: #1a1a1a;
}

#profile-pic-modal li i{
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-right: 7px;
}