.search-result-item{
    padding-bottom: 23px;
    border-bottom: 1px solid #76767610;
}

.donar-list-chip{
    width: 31px;
    height: 31px;
    background: #de2c2c30;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
    color: #de2c2c;
    font-weight: 600;
    font-size: 14px;
    border: none;
    line-height: 31px;
    position: relative;
    top: 4px;
}

.donar-list-title{
    font-family: 'Heebo', sans-serif;
    color: #212121;
    font-weight: 500;
    margin: 0;
}

.donar-list-age{
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #767676;
    font-weight: 400;
    font-size: 12px;
}

.donar-list-place{
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #212121;
    font-weight: 500;
    font-size: 12px;
    margin-top: 2px;
}

.donar-list-img{
    border-radius: 6px;
    width: 60px;
}

.donar-list-btn{
    font-family: 'Heebo', sans-serif;
    color: #ffffff;
    background: #de2c2c;
    border: none;
    border-radius: 5px;
    padding: 6px 9px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 600;
    line-height: 11px;
}

.donar-list-btn i{
    position: relative;
    top: 1px;
}

.donar-empty-container{
    height: 100vh;
}

.donar-empty-img{
    width: 178px;
    height: 172px;
    margin: 0px auto;
}

.donar-empty-title{
    text-align: center;
    margin-top: 0px;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
}